.lmj-banner {
  color: rgb(0, 0, 0);
  text-align: left;
  border-bottom: solid 3px rgb(255, 0, 0);
}
.g-logo {
  width: 350px;
}

.lmj-title {
  padding-left: 32px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-left: 40%;
}

.power {
  position: absolute;
  top: 3%;
  right: 10%;
  color: rgb(255, 14, 14, 0.719);
}
.power:hover{
transition: all 0s ease-in-out;
  transform: scale(1.1);
  color: rgb(253, 213, 213);
  opacity: 0.9;
}

.power:active {
  transition: all 0s ease-in-out;
  transform: scale(0.8);
  color: rgb(255, 14, 14, 0.719);
  opacity: 0.9;
}

.profil {
  position: absolute;
  top: 3%;
  right: 16%;
  color: rgb(255, 14, 14, 0.719);
}

.profil:hover{
transition: all 0s ease-in-out;
  transform: scale(1.1);
  color: rgb(253, 213, 213);
  opacity: 0.9;
}

.profil:active {
  transition: all 0s ease-in-out;
  color: rgb(255, 14, 14, 0.719);
  transform: scale(0.8);
  opacity: 0.9;
}

@media screen and (max-width: 530px) {
  .power {
    right: 10px;
  }
}
@media screen and (max-width: 450px) {
  .power {
    top: 1%;
  }
  .profil {
    top: 5%;
    right: 10px;
  }
}
