.log-container {
  margin: 0 auto;
  display: grid;
}

.connection-form {
  display: flex;
  flex-direction: column;

  border: none;
  background: rgb(253, 213, 213);

  min-width: 490px;
  width: 40%;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
}

.form-container {
  font-weight: 500;
  display:flex;
  justify-content: space-around;
  
}

.form {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.inputTxt {
  text-align: center;
  border: solid rgb(253, 213, 213) 2px;
  border-radius: 20px;
  padding: 5px;
}

.controlPassword {
  color: red;
  font-weight: bold;
}


.submit {
  background-color: rgba(255, 14, 14, 0.719);
  border-radius: 20px;
  border: solid 2px rgb(253, 213, 213);
  padding: 10px;
  font-weight: bold;
  font-family: 'LatoWeb';
}

.submit:hover {
  transition: all 0s ease-in-out;
  transform: scale(1);
  background-color: white;
  border: black 1px solid;
  opacity: 0.9;
}

.submit:active {
  transition: all 0s ease-in-out;
  transform: scale(0.8);
  background-color: rgba(255, 14, 14, 0.719);
  box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
  opacity: 0.9;
}

li {
  list-style: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 10px;
  margin-bottom: 10px;
  
}

#register{
  background:  rgba(255, 14, 14, 0.719);
  border-radius: 20px;
  margin-top: 10px;
}

#register:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  background-color: white;
   border: black 1px solid;
}

#register:active{
  transition: all 0s ease-in-out;
  transform: scale(0.8);
  background-color: rgba(255, 14, 14, 0.719);;
  box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
  opacity: 0.9;
}

#login{
  background:  rgba(255, 14, 14, 0.719);
  border-radius: 20px;
}

#login:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  background-color: white;
   border: black 1px solid;
}

#login:active{
  transition: all 0s ease-in-out;
  transform: scale(0.8);
  background-color: rgba(255, 14, 14, 0.719);;
  box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
  opacity: 0.9;
}


@media screen and (max-width: 530px) {
  .connection-form {
    min-width: 0px;
    width: 80%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ul {
    padding-bottom: 10px;
  }
}
