.new-post{
    font-size: 30px;
}

.first{
  display:none;
  visibility: none;
  
}

.block-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  
  .img-post{
   display: flex;
   width: 100%;
  }

  .img-dl{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    object-fit: cover;
  }
  
  
  .new-btn:active{
    transition: all 0s ease-in-out;
    transform: scale(0.8);
    opacity: 0.9;
    
  }


  /* #block-img{
    display: none;
  } */

  .new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
  }
  .new-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    border: solid rgb(253, 213, 213) 2px;
    border-radius: 20px;
    padding: 8px;
    width: 300px;
  }
  .new-description {
    text-align: center;
    border: solid rgb(253, 213, 213) 2px;
    border-radius: 20px;
    padding: 8px;
    width: 500px;
    height: 200px;
  }
  .button-push{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 14, 14, 0.719);
    border-radius: 20px;
    border: solid 2px rgb(253, 213, 213);
    font-size: 15px;
    font-family: 'LatoWeb';
    margin: 15px 0;
    padding: 16px;
    font-weight: 550;
    width: 150px;
  }

  .button-push:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  background-color: white;
  border: black 1px solid;
  opacity: 0.9;
  }
  .button-push:active {
    transition: all 0s ease-in-out;
    transform: scale(0.8);
    background-color: rgba(255, 14, 14, 0.719);
    box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
    opacity: 0.9;
  }
  @media screen and (max-width: 530px) {
  .new-description{
    width: 292px;
  }
  }