.block-parents{
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(253, 213, 213);
  min-width: 490px;
  width: 70%;
  text-align: center;
  margin: 200px auto;
  padding: 20px;
  border-radius: 20px;
}

.btn-modif{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
 }

.btn-post{
  width: 70px;
  font-size: 14px;
  
}

.btn-post:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  color: rgba(255, 14, 14, 0.719);
  opacity: 0.9;
}

.btn-post:active{
    transition: all 0s ease-in-out;
    transform: scale(0.8);
    font-weight: 700;
    opacity: 0.9;
}

.all-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id-write{
    display: flex;
    justify-content: flex-start;
    margin-left: 9px;
}

.title-write{
    font-size: 30px;   
}

.img-write{
    display: flex;
    justify-content: center;
    margin: 10px 50px
}

.article-write{
    display: flex;
    text-align:justify;
    margin: 50px;
}

.block-comment{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 550px;
    align-items: center;
}

.commentaire-txt{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    margin-left: 10px;
}

.areaTxt{
   
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(255, 14, 14, 0.719);

}

.btn-comment{
  display: flex;
  justify-content: center;
  background-color: rgba(255, 14, 14, 0.719);
  border-radius: 20px;
  border: solid 2px rgb(253, 213, 213);
  font-size: 15px;
  padding: 2px;
  margin-top: 10px;
  font-weight:200;
  width: 100px;
}
.btn-comment:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  background-color: white;
  border: black 1px solid;
  opacity: 0.9;
}
.btn-comment:active {
    transition: all 0s ease-in-out;
    transform: scale(0.8);
    background-color: rgba(255, 14, 14, 0.719);
    box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
    opacity: 0.9;
  }

.comment-write{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    border: solid 1px rgb(255, 14, 14, 0.719);
    border-radius: 10px;
    margin: 2px 50px;
}

.id-txt{
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 -8px 0;
}

.comment{
    
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
    
}

.li-post{
    list-style: none;
  cursor: pointer;
  border-radius: 20px;
  width: 450px;
  margin-bottom: 15px;
  transition: 0.2s;
}


@media screen and (max-width: 633px) {

  .block-parents{
    min-width: 300px;
  }

  .block-comment{
  
    width: 380px;
}


}

  