.block-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.button-profil {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 14, 14, 0.719);
  border-radius: 20px;
  border: solid 2px rgb(253, 213, 213);
  font-size: 15px;
  margin: 15px 0;
  padding: 16px;
  font-weight: 550;
  width: 260px;
}

.button-profil:hover{
  transition: all 0s ease-in-out;
  transform: scale(1.1);
  background-color: white;
  border: black 1px solid;
  opacity: 0.9;
}

.button-profil:active {
  transition: all 0s ease-in-out;
  transform: scale(0.8);
  background-color: rgba(255, 14, 14, 0.719);
  box-shadow: 0 3px 3px 3px rgb(175, 175, 175);
  opacity: 0.9;
}
